#left-zoon{
    width: 15%;
    height: 850px;
    float: left;
    background-color: deepskyblue;
}
#resume{
    color: white;
    text-align: center;
    margin-top: 70px;
}
#right-zoon{
    width: 83%;
    float: right;
}
#name,#gender,#position,#tel,#email,#personPage{
    display: inline-block;
}
#gender,#position,#email,#personPage{
    margin-left: 50px;
}
.termContent{
    margin-top: 1px;
}
.termName{
    margin-bottom: 1px;
}
.borderLine{
    display: none;
}
