*{
    margin: 0;
}
.top{
    width: 100%;
    height: 600px;
    position: relative;
    padding: 1px;
    background: url("../resource/topBackground.png");
}
.topContent{
    position: absolute;
    margin: 0 auto;
    height: 200px;
    width: 500px;
    top: 70px;
    left: calc((100% - 500px)/2);
    text-align: center;
}
.topContent p:nth-child(2){
    text-align: justify;
    text-align-last: center;
    display: inline-block;
}
.hello{
    text-align: center;
    color: white;
    font-size: 40px;
}
.topText{
    text-align: center;
    margin-top: 20px;
    color: grey;
}
.register{
    box-sizing: border-box;
    border: grey 1px solid;
    margin: 300px auto 0;
    width: 600px;
}
.text1{
    text-align: center;
    color: white;
    margin-top: 30px;
    font-size: 0.7em;
}
.text2{
    text-align: center;
    color: grey;
    font-size: 0.4em;
    margin-top: 10px;
}
.signDiv{
    text-align: center;
    margin-top: 20px;
    /*margin-left: 50px;*/
    margin-bottom: 30px;

}
.account-input,.password-input{
    background: transparent;
    width: 150px;
    height: 30px;
    text-indent: 5px;
    border: grey 1px solid;
}
.password-input{
    margin-left: 20px;
}
.sign-button{
    height: 30px;
    width: 100px;
    margin-left: 20px;
    text-align: center;
    font-size: 0.5em;
    background-color: white;
    color: black;
}

.second{
    width: 100%;
    height: 400px;
}
.text3{
    text-align: center;
    margin-top: 40px;
}
.text4{
    text-align: center;
    margin-top: 10px;
    margin-right: 20px;
}
.fourDiv{
    margin-top: 50px;
    width: 950px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc((100% - 950px)/2);
}
.item-div{
    flex: 400px;
    height: 50px;
    position: relative;
    margin-bottom: 50px;
}
.photo{
    margin-left: 8px;
}
.text7{
    position: absolute;
    left: 70px;
    top: 0;
}
.text8{
    position: absolute;
    top: 30px;
    left: 70px;
}

.third{
    background-image: url("../resource/thirdBackground.png");
    width: 100%;
    height: 650px;
    position: relative;
}
.div1{
    position: absolute;
    width: 400px;
    height: 150px;
    left: 100px;
    top: 100px;
}
.text5{
    width: 300px;
    font-size: 1.5em;
    color: white;
}
.text6{
    width: 300px;
    font-size: 0.7em;
    margin-top: 20px;
    margin-bottom: 40px;
    color: white;
}
.button1,.button2{
    background-color: transparent;
    border: white 1px solid;
    height: 50px;
    font-size: 10px;
    margin-right: 20px;
    color: white;
}
.button1:hover,.button2:hover{
    background-color: white;
    color: black;
}
.pad{
    width: 700px;
    height: 500px;
    margin-left: calc(100% - 700px);
    vertical-align: center;
    margin-top: 60px;
}

.fourth{
    height: 350px;
    border-bottom: grey 1px solid;
}
.text9{
    text-align: center;
    margin-top: 40px;
    font-size: 2em;
}
.div6{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc((100% - 1000px)/2);
}
.div7{
    width: 300px;
    margin-top: 20px;
    text-align: center;
    margin-right: 50px;
}

.fifth{
    margin-top: 50px;
    border-bottom: grey 1px solid;
}
.tree{
    float: left;
    max-height: 500px;
    max-width: 500px;
}
.div2{
    margin-left: 100px;
    margin-top: 60px;
    width: 260px;
    /*height: 200px;*/
    float: left;
}
.div5{
    margin-left: calc((100% - 860px)/2);
    margin-bottom: 50px;
}
.div5:after{
    content: "";
    display: block;
    clear: both;

}
.div3{
    margin-top: 60px;
    width: 260px;
    /*height: 200px;*/
    float: left;
}
.bird{
    float: left;
    margin-left: 100px;
    max-height: 500px;
    max-width: 500px;
}

.sixth{
    width: 100%;
    border-bottom: grey 1px solid;
}
.text10{
    text-align: center;
    margin-top: 50px;
    font-size: 2em;
}
.text11{
    text-align: center;
    width: 600px;
    margin-left: calc((100% - 600px)/2);
    margin-top: 20px;
    color: grey;
}
.head-picture{
    display: flex;
    flex-wrap: wrap;
    width: 660px;
    margin-left: calc((100% - 660px)/2);
    margin-top: 30px;
    position: relative;
}
.pic{
    max-width: 300px;
    max-height: 300px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.head-picture > div{
    position: relative;
}
.mask1,.mask2,.mask3,.mask4{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 215px;
    background: black;
    color: #ffffff;
    opacity: 0;
}
.mask1 img,.mask2 img,.mask3 img,.mask4 img{
    margin-left: 35px;
    margin-top: 30px;
}
.head-pic1 a:hover .mask1,.head-pic2 a:hover .mask2
,.head-pic3 a:hover .mask3,.head-pic4 a:hover .mask4{
    opacity: 0.5;
}

.seventh{
    display: flex;
    width: 100%;
    height: 750px;
    flex-wrap: wrap;
    margin-left: calc((100% - 800px)/2);
}
.div8{
    border: grey 1px solid;
    width: 400px;
    height: 550px;
    margin-top: 100px;
}
.email,.subject,.message{
    margin-top: 30px;
    border: grey 1px solid;
    text-indent: 5px;
    width: 300px;
    margin-left: 50px;
}
.message{
    width: 300px;
    margin-top: 30px;
    height: 200px;
}
.send-button{
    width: 300px;
    height: 50px;
    margin-left: 50px;
    margin-top: 30px;
    background-color: black;
    color: white;
}
.div9{
    margin-left: 100px;
    margin-top: 100px;
}
.text12{
    font-size: 30px;
    font-weight: bold;
    margin-top: 100px;
}
.text13{
    margin-top: 40px;
    color: grey;
    width: 300px;
}
.div10{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 50px;
}
.text14{
    position: absolute;
    left: 40px;
    top: 0;
}

.eighth{
    width: 100%;
    height: 300px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}
.eighth p{
    color: grey;
    font-size: 10px;
    margin-top: 20px;
}
.eighth .first{
    color: white;
}
.eighth div{
    margin-top: 50px;
    margin-left: 100px;
}
.eighth img{
    margin-top: 20px;
}






