.Heading{
    width: 700px;
    background:burlywood;
    border: 5px dotted;
    border-bottom: solid;
    border-left: 3px double red;
    border-right: 4px double;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.HeadingWord::first-letter{
    font-size: 30px;
}
.email:link{
    color: blue;
}
.email:visited{
    color: gray;
}
.email:hover{
    color: red;
}
.email:active{
    color: orange;
}
.HeadingWord{
    color: red;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 2px 2px green;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    background-color: deepskyblue;
    background-origin: content-box;
}
.content{
    color: blue;
    text-decoration: underline;
    margin-left: 10px;
}
.HeadTable td{
    font-style: inherit;
    color: purple;
    font-size: 20px;
}
.content > ul{
    background-color: green;
}
.nation + td{
    font-size: 30px;
    font-style: italic;
    color: red;
}
.birth,.nation{
    color: black !important;
    font-size: 20px;
}
.HeadTable{
    font-style: italic;
    font-weight: bold;
    color: orange;
}
.ul1{
    list-style: square outside;
}
.ul2{
    list-style: decimal inside;
}
