body{
    width: 900px;
}
#right-zoon{
    border-right: 1px solid lightgray;

}
#left-zoon{
    height: 60px;
    width: 100%;
    background-color: gray;
}
#resume{
    color: white;
    margin-left: 20px;
    font-size: 20px;
    line-height: 60px;
}
.subheading{
    float: left;
    height: 110px;
    width: 10%;
    background-color: lightgray;
    margin-top: 0px;
    margin-bottom: 2px;
    text-align: center;
    font-size: 15px;
    line-height: 110px;
}
.subcontent{
    float: right;
    width: 89%;
    margin-top: 10px;
}
.lineDiv{
    border-top: 1px solid lightgray;
    clear: both;
}
.lineDivLast{
    border-top: 1px solid lightgray;
    clear: both;
}
#name,#gender,#position,#tel,#email,#personPage{
    display: inline-block;
    margin: 0;
}
#gender,#position,#email,#personPage{
    margin-left: 50px;
}
.term{
    margin: 0;
}
.termName,.termContent{
    display: inline-block;
    margin: 0px;
}
