.left1,.left2,.left3,.left4,.left5,.left6,.left7,.left8,.left9
,.left10,.left11,.left12,.left13,.left14,.left15{
    background-color: deepskyblue;
    box-sizing: border-box;
    height: 50px;
}
.right1,.right2,.right3,.right4,.right5,.right6,.right7,.right8,.right9
,.right10,.right11,.right12,.right13,.right14,.right15{
    background-color: lightgreen;
    box-sizing: border-box;
    height: 50px;
}
.mid10,.mid11,.mid12,.mid13,.mid14,.mid15{
    background-color: orangered;
    box-sizing: border-box;
    height: 50px;
}
.left1{
    float: left;
    width: 30%;
}
.right1{
    float: right;
    width: 70%;
}
.div1:after,div4:after{
    content: "";
    display: block;
    clear: both;
}

.div2{
    position: relative;
}
.left2{
    width: 30%;
}
.right2{
    position: absolute;
    margin-left: 30%;
    top: 0;
    width: 70%;
}
.div3{
    display: flex;
}
.left3{
    flex: 3;
}
.right3{
    flex: 7;
}

.left4{
    float: left;
    width: 200px;
}
.right4{
    float: right;
    width: calc(100% - 200px);
}

.div5{
    position: relative;
}
.left5{
    width: 200px;
}
.right5{
    position: absolute;
    margin-left: 200px;
    top: 0;
    width: calc(100% - 200px);
}

.div6{
    display: flex;
}
.left6{
    flex: 0 200px;
}
.right6{
    flex: 1;
}

.left7{
    float: left;
    width: calc(100% - 200px);
}
.right7{
    float: right;
    width: 200px;
}

.div8{
    position: relative;
}
.left8{
    width: calc(100% - 200px);
}
.right8{
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
}

.div9{
    display: flex;
}
.left9{
    flex: 1;
}
.right9{
    flex: 0 200px;
}

.left10,.right10{
    float: left;
    width: 200px;
}
.mid10{
    float: left;
    width: calc(100% - 400px);
}

.div11{
    position: relative;
}
.left11{
    width: 200px;
}
.mid11{
    position: absolute;
    left: 200px;
    right: 200px;
    top: 0;
}
.right11{
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
}

.div12{
    display: flex;
}
.left12,.right12{
    flex: 0 200px;
}
.mid12{
    flex: 1;
}

.left13,.mid13{
    float: left;
    width: 200px;
}
.right13{
    float: left;
    width: calc(100% - 400px);
}

.div14{
    position: relative;
}
.left14{
    width: 200px;
}
.mid14{
    position: absolute;
    left: 200px;
    width: 200px;
    top: 0;
}
.right14{
    position: absolute;
    left: 400px;
    right: 0;
    top: 0;
}

.div15{
    display: flex;
}
.left15,.mid15{
    flex: 0 200px;
}
.right15{
    flex: 1;
}

